//文章區塊

//列表================================================================

.area-essay.list {

	> .bg-drop-layout > .in, > .in {
		background-color: $white;
	}

	.hd {
		@extend %header;

		> .in {

		}

		h4 {
			
		}

		span {
				
		}

		a {

		}
	}

	.ct {

		> .in {

		}

		/*div*/.div {
			display: block;
			padding: $interval-m;
			background-color: $white;
			min-height: 330px;
		}

		.img {
			
			span {
				display: block;
				@extend %bg-contain;
				padding-bottom: 75%;
				background-color: $gray;
			}
			
			img {
				display: none;
			}
		}

		.essay {
			margin-top: $interval-m;
		}

		.caption {
			@extend %caption;
			text-align: center;

			span {
				
			}
		}

		.label {
			margin-top: $interval-m;

			ul {
				padding: 0 $interval-m;
			}

			li {

			}

			span {
				display: block;
			}

			a {
				display: block;
				padding: $interval-xs 0;
				position: relative;
				padding-left: $interval-xl;
				transition: $transition;

				&:before {
					content: $content;
					display: block;
					position: absolute;
					top: 12px;
					left: 14px;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background-color: $major-color;
				}

				&:hover {
					background-color: $light;
					color: inherit;
				}
			}
		}

		/*i*/.mark {
			display: none;
		}
	}

	.ft {
		padding: $interval-m;

		> .in {

		}

		ul {

		}

		li {

		}

		span {
			display: block;
		}

		a {
			display: block;
			padding: $interval-m;
			border-radius: $border-radius;
			background-color: $minor-color;
			color: $white;
			text-align: center;
			transition: $transition;

			&:hover {
				background-color: deeper($minor-color);
			}
		}
	}
}