.search_down {
    .fieldset {
        border: 1px solid darken(#f5f6f7,10%);
        width: 450px;
        border-radius: 30px;
        padding: 2px 10px;
        position: relative;
        background: #f5f6f7;
        select {
            width: 100px;
            border: none;
            border-right: 1px solid darken(#f5f6f7,10%);
            -webkit-appearance: none;
            background: url(../Images/select_arrw.png) no-repeat;
            background-position: 35px -3px;
            border-radius: 0px;
            font-size: 1em;
        }
        .search {
            input {
                border: none;
                width: 70%;
                background: transparent;
                @extend %input-focus;
            }
        }
        .submit {
            a {
                display: inline-block;
                position: absolute;
                right: 0;
                padding: 7px 15px;
                &::before {
                    @include fontAwesome('search');
                    color: $minor-color;
                }
            }
        }
    }
}
