//表單區塊
//內頁表單================================================================
.area-form.page-form {
	 > .in,
	> .bg-drop-layout > .in {}

	.hd {
		> .in {}

		h4 {}

		span {
			display: block;
			padding: $interval-m $interval-l;
			background-color: $major-color;
			color: $white;
		}

		a {
			color: inherit;
		}
	}

	.ct {
		> .in {}

		.fieldset {
			$height: 26px;
			$left: 180px;
			padding: $interval-xl;
			background-color: $light;

			@include media ('phone') {
				padding: $interval-l;
			}

			+ .fieldset {
				margin-top: $interval-xs;
				text-align: right;
				padding: 0;
				background-color: transparent;

				input {
					&[type="button"],
					&[type="reset"],
					&[type="submit"] {
						padding: $interval-m $interval-xl;
						font-size: $font-size-l;
					}
				}
			}

			%labels {
				line-height: $height;
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				width: $left;
				box-sizing: border-box;
				padding: 0 $interval-l;
				text-align: right;

				@include media ('phone') {
					line-height: normal !important;
					position: static;
					top: auto;
					left: auto;
					width: auto;
					padding: 0;
					text-align: left;
				}
			}

			.legend {
				span {}
			}

			span {
				display: block;

				&[data-message] {
					&:after {
						content: attr(data-message);
						margin-left: $interval-xs;
						color: $minor-color;
						display: block;
					}
				}

				&.is-required {
					label {
						&:before {
							content: '* ';
							color: $minor-color;
						}
					}
				}

				&.is-error {
					label {
						color: $minor-color;
					}

					input {
						border-color: $minor-color;
					}

					select {
						border-color: $minor-color;
					}

					textarea {
						border-color: $minor-color;
					}
				}

				&.select {
					margin-top: $interval-s;
					position: relative;
					padding-left: $left;

					@include media ('phone') {
						padding-left: 0;
					}

					label {
						@extend %labels;
						line-height: 31px;

						@include media ('mobile') {
							margin: $interval-m 0;
						}
					}
				}

				&.text {
					margin-top: $interval-s;
					position: relative;
					padding-left: $left;

					@include media ('phone') {
						padding-left: 0;
					}

					label {
						@extend %labels;
						line-height: 38px;

						@include media ('mobile') {
							margin: $interval-m 0;
						}
					}
				}

				&.password {
					margin-top: $interval-s;
					position: relative;
					padding-left: $left;

					@include media ('phone') {
						padding-left: 0;
					}

					label {
						@extend %labels;
						line-height: 38px;

						@include media ('mobile') {
							margin: $interval-m 0;
						}
					}
				}

				&.date {
					margin-top: $interval-s;
					position: relative;
					padding-left: $left;

					input {
						background-image: image-url('icon-pic/calendar.png');
						background-position: center right;
						background-repeat: no-repeat;
					}

					@include media ('phone') {
						padding-left: 0;
					}

					label:first-child {
						@extend %labels;
						line-height: 38px;
					}

					label {
						@include media ('mobile') {
							display: block;
							margin: $interval-m 0;
						}
					}
				}

				&.number {
					margin-top: $interval-s;
					position: relative;
					padding-left: $left;

					@include media ('phone') {
						padding-left: 0;
					}

					label {
						@extend %labels;
						line-height: 38px;

						@include media ('mobile') {
							margin: $interval-m 0;
						}
					}
				}

				&.search {
					margin-top: $interval-s;
					position: relative;
					padding-left: $left;

					@include media ('phone') {
						padding-left: 0;
					}

					label {
						@extend %labels;
						line-height: 38px;

						@include media ('mobile') {
							margin: $interval-m 0;
						}
					}
				}

				&.submit {
					display: inline-block;
				}

				&.reset {
					display: inline-block;
				}

				&.button {
					display: inline-block;
				}
			}

			select {
				max-width: 100%;
				line-height: $height;

				option {}
			}

			input {
				max-width: 100%;

				&[type="text"] {
					line-height: $height;

					@include media ('center') {
						display: block;
						width: auto;
					}

					@include media ('phone') {
						display: block;
						width: 100%;
					}

					&[disabled] {
						border: 0;
						background-color: transparent;
					}
				}

				&[type="password"] {
					line-height: $height;

					@include media ('center') {
						display: block;
						width: auto;
					}

					@include media ('phone') {
						display: block;
						width: 100%;
					}
				}

				&[type="submit"] {
					margin: $interval-xs;
					@extend %btn-imp;

				}

				&[type="reset"] {
					margin: $interval-xs;
				}

				&[type="button"] {
					margin: $interval-xs;
				}
			}

			textarea {
				max-width: 100%;
			}

			label {}

			.img {
				display: inline-block;
				vertical-align: middle;

				span {
					display: block;
				}

				img {
					display: block;
					border: $border;
					border-color: $gray;
					margin: 0;
				}
			}
		}
	}

	.ft {
		@extend %footer;

		> .in {}

		ul {}

		li {
			&.advanced {}
		}

		span {}

		a {}
	}
}

.area-form.login {
	width: 311px;
	margin: 100px auto 0;

	 > .in,
	> .bg-drop-layout > .in {}

	.hd {
		> .in {}

		h4 {
			background: url("../Images/loginLogo.png") no-repeat 50%;
			width: 100%;
			height: 104px;
			text-align: center;
		}

		span {
		}

		a {
			color: inherit;
		}
	}

	.ct {
		> .in {
			left: 180px;
		}

		.fieldset {
			$height: 26px;
			$left: 180px;
			@include media ('phone') {
				padding: $interval-l;
			}

			+ .fieldset {
				margin-top: $interval-xs;
				text-align: right;
				padding: 0;
				background-color: transparent;

				input {
					&[type="button"],
					&[type="reset"],
					&[type="submit"] {
						padding: $interval-m $interval-xl;
						font-size: 1.1em;
					}
					&[type="submit"]{
						@extend %btn-login;
						// background: darken($major-color,15%);
					}
				}
			}
			.account,.password,.code {
				width: 100%;
				display: inline-block;
			}
			select {
				max-width: 100%;
				line-height: $height;
			}
				.btn-submit{
					@extend %btn-login;
				}
			input {
				width: 100%;
				background: rgba($white,0);
				border: 1px solid rgba($white,0.7);
				border-radius: 5px;
				transition: all ease-in 0.3s;
				color: $white;
				&::placeholder{
					color: $white;
				}
				&:focus{
					background: rgba($white,0.2);
					border: 1px solid rgba($white,1);
					box-shadow: 0 0 5px 0 rgba($black,0.2);
				}
				&[type="text"],&[type="password"]{
					color: $minor-color;
					padding: 10px 0 10px 45px;
				}
				&[type="text"] {

					&[disabled] {
						border: 0;
						background-color: transparent;
					}
				}

				&[type="password"] {
				}

				&[type="number"] {
				}

				&[type="submit"] {
					margin: $interval-xs;
					@extend %btn-imp;
				}

				&[type="reset"] {
					margin: $interval-xs;
				}

				&[type="button"] {
					margin: $interval-xs;
				}
			}

			textarea {
				max-width: 100%;
			}

			label {
				position: relative;
				&:before{
					// @include fontAwesome('user-circle-o');
					@include icon-font('face');
					position: absolute;
					bottom: -28px;
			    left: 16px;
			    font-size: 1.2em;
					color: $deep;
				}
				span{
					margin: 0;
					font-size: 0;
				}
			}
			.account label:before{
				left: 13px;
			}
			.password label:before{
				@include fontAwesome('key');
			}
			.code {
				margin: 18px 4px 9px -4px;
				display: inline-block;
				label:before{
					@include fontAwesome('credit-card');
					top: 2px;
				}
				input{
					display: inline-block;
    			width: 62%;
				}
        // 驗證碼
				.button{
					display: inline-block;
					a{
						width: 100%;
						background: rgba($black,0);
						border: 1px solid rgba($black,0.7);
						border-radius: 5px;
						transition: all ease-in 0.2s;
						color: $black;
						padding: 4px 8px;
						&:hover,&:active{
							background: rgba($black,0.8);
							border: 1px solid rgba($black,1);
							color: $white;
						}
						&:active{
							box-shadow: inset 0 2px 2px 0px rgba($black,0.7);
						}

						&:before{
							@include fontAwesome('refresh');
						}
						span{
							font-size: 0;
						}
					}
				}
			}

			.img {
				display: inline-block;
				vertical-align: middle;

				span {
					display: block;
				}

				img {
					display: block;
					border: $border;
					border-color: $gray;
					margin: 0;
				}
			}
		}
	}

	.ft {
		@extend %footer;

		> .in {}

		ul {}

		li {
			&.advanced {}
		}

		span {}

		a {}
	}
}
