    .platfrom_content {
        table {
            width: 100%;
            tr {
                text-align: center;
                th {
                    border-bottom: 2px #eaeef2 solid;
                    background-color: #fff;
                }
                td {
                    border-bottom: 1px #ebeff2 solid;
                    padding: 5px 0;
                }
                .pag_name,
                .function {
                    text-align: left;
                }
                .pag_name {
                    width: 50%;
                }
                .function {
                    width: 10%;
                    input {
                        font-size: 0px;
                        height: 35px;
                        width: 35px;
                        border-radius: 50px;
                        transition: all .25s ease-in;
                        &:hover {
                            box-shadow: 0px 2px 0px 1px rgba(50, 51, 102, 0.4) inset;
                            background-position-y: 1px;
                        }
                    }
                    .input_edit {
                        background: #a55cef url(../Images/function_edit);
                        background-position-x: 2px;
                    }
                    .input_delete {
                        background: #ff5c5f url(../Images/function_edit);
                        background-position-x: -35px;
                    }
                    .input_other {
                        background: #cfcfcf url(../Images/function_edit);
                        background-position-x: -70px;
                    }
                }
                &:nth-child(odd) {
                    background-color: #f8f9fa;
                }
                &:nth-child(even) {
                    background-color: #ffffff;
                }
            }
        }
    }