//圖片列表

//連結================================================================

.list-pic.link {
	@include default-len(4, 3);

	> .bg-drop-layout > .in, > .in {

	}

	.hd {
		@extend %header;

		> .in {

		}

		h4 {
			
		}

		span {
				
		}

		a {

		}
	}

	.ct {

		> .in {
			
		}

		ul {
			
		}

		li {
			@include len-rwd('phone', 2);
		}

		span {
			@extend %bg-contain;
			position: relative;
			display: block;
			margin: $interval-s;
			background-color: $gray;
		}

		a {
			display: block;
			padding-bottom: 75%;

			&:before {
				content: $content;
				position: absolute;
				display: block;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: transparent;
				transition: $transition;
			}

			&:hover {
				
				&:before {
					background-color: rgba($black, $opacity-m);
				}
			}

			@include media('mobile') {
				background-color: transparent;
			}
		}

		img {
			display: none;
		}

		/*i*/.mark {
			@extend %mark-absolute;
		}
	}

	.ft {

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}