//文字列表

//麵包屑================================================================

.list-text.breadcrumb {
    display: inline-block;

	> .bg-drop-layout > .in, > .in {
    margin: 0 !important;
	}

	.hd {
		display: none;

		> .in {

		}

		h4 {

		}

		span {

		}

		a {

		}
	}

	.ct {

		> .in {

		}

		ul {
			padding: $interval-s;
			padding-right: $interval-m;
		}

		li {
			display: inline-block;
			font-size: $font-size-s;

			&:before {
        background: url("../Images/icon-home.png") no-repeat;
        width: 20px;
        height: 16px;
				margin-right: $interval-s;
        content: "";
        display: inline-block;
			}

			+ li {

				&:before {
					@include icon-font('navigate_next');
					vertical-align: middle;
					margin-left: $interval-s;
          background: none;
				}
			}

			&:last-child {
				a {
					color: $major-color;
				}
			}
		}

		span {

		}

		a {

		}

		/*i*/.mark {

		}
	}

	.ft {

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}
