//文字列表
//連結================================================================
.list-text.link {
	.base-mobile & {
		 > .in,
		> .bg-drop-layout > .in {}

		.hd {
			display: none;

			> .in {}

			h4 {}

			span {}

			a {}
		}

		.ct {
			> .in {}

			ul {}

			li {
				+ li {
					border-top: $border;
				}
			}

			span {
				display: block;
			}

			a {
				display: block;
				padding: $interval-m;
			}
			/*i*/

			.mark {}
		}

		.ft {
			display: none;

			> .in {}

			ul {}

			li {}

			span {}

			a {}
		}
	}

	.base-header & {
		width: 100%;
		color: $white;
		padding: 10px;
		box-sizing: border-box;
		margin: 10px 0;
		height: 55px;
		margin-top: 17px;
		@include js(false) {
			right: 10px;
		}

		@include media ('mobile') {
			display: none;
		}

		 > .in,
		> .bg-drop-layout > .in {}

		.hd {
			display: none;

			> .in {}

			h4 {}

			span {}

			a {}
		}

		.ct {
			> .in {}

			ul {}

			li {
				display: inline-block;
				vertical-align: middle;
				width: 23%;
				box-sizing: border-box;
				text-align: center;

				&.detaManage a {}

				&.detaPublish a {
					background-position-x: -44px;
				}

				&.interaction a {
					background-position-x: -98px;
				}

				&.webManage a {
					background-position-x: -148px;
				}

				+ li {
					a {}
				}
			}

			span {
				display: block;
			}

			a {
				display: block;
				text-align: center;
				font-size: 2.3em;
				color: lighten($minor-color,40%);
				background: url("../images/menuIcon.png") no-repeat 0 -34px;
				width: 35px;
				height: 35px;
				margin: 0 auto;

				&:before {
					display: inline-block;
				}

				&.active,
				&:hover {
					background-position-y: 1px;
				}

				span {
					font-size: 0;
				}
			}
			/*i*/

			.mark {
				display: none;
			}
		}

		.ft {
			display: none;

			> .in {}

			ul {}

			li {}

			span {}

			a {}
		}
	}

	.base-content & {
		 > .in,
		> .bg-drop-layout > .in {}

		.hd {
			@extend %header;

			> .in {}

			h4 {}

			span {}

			a {}
		}

		.ct {
			> .in {}

			ul {}

			li {
				+ li {
					margin-top: $interval-s;
				}
			}

			span {
				display: block;
			}

			a {
				@extend %ellipsis;
				@extend %list;
				@extend %list-hover;
			}
			/*i*/

			.mark {
				@extend %mark;
			}
		}

		.ft {
			@extend %footer;

			> .in {}

			ul {}

			li {}

			span {}

			a {}
		}
	}

	.base-footer & {
		margin-bottom: $interval-s;

		@include media ('mobile') {
			display: none;
		}

		 > .in,
		> .bg-drop-layout > .in {}

		.hd {
			display: none;

			> .in {}

			h4 {}

			span {}

			a {}
		}

		.ct {
			> .in {}

			ul {}

			li {
				display: inline-block;
				vertical-align: middle;

				+ li {
					border-left: $border;

					a {
						padding-left: $interval-m;
					}
				}
			}

			span {
				display: block;
			}

			a {
				display: block;
				padding-right: $interval-m;
			}
			/*i*/

			.mark {
				display: none;
			}
		}

		.ft {
			display: none;

			> .in {}

			ul {}

			li {}

			span {}

			a {}
		}
	}
}

.list-text.link_account {
	.base-extend & {
		display: inline-block;

		@include media ('mobile') {
			display: none;
		}

		&.is-active{
			.hd{
				p{
					&:after{
						@include fontAwesome('angle-up');
					}
				}
			}
			.ct {
				display: block;
				ul{
					@keyframes mymove {
		    from {right: -100px;}
		    to {right: 0px;}
		/* Safari 4.0 - 8.0 */
		@-webkit-keyframes mymove {
			from {right: 0px;}
			to {right: 200px;}
		}
}
			// 淡入淡出
			@keyframes fadeIn {
			  from {
			    opacity: 0;
			  }

			  to {
			    opacity: 1;
			  }
			}

			.fadeIn {
			  animation-name: fadeIn;
			}
				}
			}
		}


		 > .in,
		> .bg-drop-layout > .in {}

		.hd {
			display: inline-block;
    	margin: -4px 0 0 0;
			> .in {}

			h4 {
				a{
					display: table;
				}
			}

			p,
			span {
				display: inline-block;
			}

			p {
				display: table-cell;
				vertical-align: middle;
				margin: 0 10px;
				&:after{
					@include fontAwesome('angle-down');
					display: inline-block;
					width: 8px;
					height: 20px;
					margin: 0 13px;
				}
			}

			span {
				.img {
					background: url("../Images/avatar.jpg") no-repeat;
					background-size: contain;
					width: 40px;
					height: 40px;
					border-radius: 30px;
					margin: 0 14px 0 10px;
					position: relative;
					&:after{
						content: "";
				    display: inline-block;
				    width: 10px;
				    height: 10px;
				    background: #2ff180;
				    border-radius: 30px;
				    position: absolute;
				    bottom: 1px;
				    right: -1px;
				    border: 2px solid #fff;
					}
				}
			}

			a {}
		}

		.ct {
			display: none;

			> .in {}

			ul {
				background: $white;
				text-align: left;
				border: 1px solid $light-gray;
				border-bottom-left-radius: 5px;
		    border-bottom-right-radius: 5px;
				position: relative;
				-webkit-animation-name: mymove,fadeIn; /* Safari 4.0 - 8.0 */
				-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
				animation-name: mymove,fadeIn;
				animation-duration: 1s;
			}

			li {
				border-bottom: 1px solid $light-gray;
				&:last-child{
					border-bottom: none;
				}
				+ li {
					a {
					}
				}
				&.detaPublish a:before{background-position-y: -39px;}
				&.interaction a:before{background-position-y: -80px;}
				&.webManage a:before{background-position-y: -120px;}
			}

			span {
				display: block;
			}

			a {
				padding: 10px 17%;
				display: inline-block;
				box-sizing: border-box;
				width: 100%;
				&:hover{
					background: lighten($major-color, 25%);
					color: inherit;
				}
				&:before{
					float: left;
					margin: 4px 6px 0 0;
					content: "";
					width: 16px;
					height: 16px;
					display: inline-block;
					background: url("../Images/icon_account.png") no-repeat;
				}
				span {
					// font-size: 0;
				}
			}
			/*i*/

			.mark {
				display: none;
			}
		}

		.ft {
			display: none;

			> .in {}

			ul {}

			li {}

			span {}

			a {}
		}
	}
}
