<div class="area-form search_down" >
  <div class="in">
    <% if header_text %>
      <div class="hd">
        <div class="in">
        <h4><span><a href="#"><%= header_text %></a></span></h4>
        </div>
      </div>
    <% end %>
    <div class="ct">
      <div class="in">
        <div class="fieldset">
            <select>
                <option value="1">所有資料</option>
                <option value="1">主題</option>
                <option value="1">內容</option>
                <option value="1">日期</option>
                <option value="1">關鍵字</option>
            </select>
          <span class="search">
            <input type="search" placeholder="搜尋...">
          </span>
          <span class="submit">
            <a href="#"></a>
          </span>
        </div>

      </div>
    </div>
  </div>
</div>