<div class="area-customize-form_search" data-index="1" data-type="0">
	<div class="in">

		<div class="hd">
			<div class="in">
				<h4>
					<span>
					</span>
				</h4>
			</div>
		</div>

		<div class="ct">
			<div class="in">
				<div class="fieldset">
					<span class="search">
						<select>
												<option data-href="" selected="">請選擇跳轉站台</option>
												<option data-href="http://www.google.com">版型10</option>
												<option data-href="http://tw.yahoo.com">一層層堆聚起來。</option>
											</select>
						</span>
					<!-- <span class="submit">
						<a href="#">搜尋</a>
					</span> -->
				</div>
			</div>
		</div>
		<div class="ft">
			<div class="in">
				<ul>
					<li class="webPublic"><a href="#" title="網站發布"></a></li>
					<li class="usebook"><a href="#" title="操作說明"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
