<%
	min_cell = 2 #最少的欄數量
	max_cell = 6 #最多的欄數量
	min_row = 3 #最少的行數量
	max_row = 12 #最多的行數量
	min_text = 3 #最少的字元
	max_text = 8 #最多的字元

	cell_length = (min_cell..max_cell).to_a.sample
	row_length = (min_row..max_row).to_a.sample

	verification_code = '/images/verification_code.jpg'
%>

<div class="area-form login" data-index=""><div class="in">
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
			<div class="avatar">
				<img src="../Images/avatar_default.png" alt="">
			</div>
		</div></div>
	<div class="ct"><div class="in">
		<div class="form">
			<div class="fieldset">
				<span class="account">
					<label><span>帳號</span></label>
					<input type="text" placeholder="帳號">
				</span>
				<span class="password">
					<label><span>密碼</span></label>
					<input type="password" placeholder="密碼">
				</span>
				<span class="code">
					<label><span>驗證碼</span></label>
					<input type="text" placeholder="驗證碼">
					<div class="img"><span style="background-image: url('<%= verification_code %>')"><img src="<%= verification_code %>" alt=""></span></div>
					<span class="button"><a href="#"><span>重新產生</span></a></span>
				</span>
			</div>
			<div class="fieldset"><span class="submit">
				<a href="page/page.html.erb" class="btn-submit">登入</a>
			</div>
		</div>
		<!-- 說明 -->
		<div class="essay">
			<p class="forget">忘記密碼嗎?
			<a href="#">重寄密碼</a></p>
			<p>
				IP:61.221.174.157</br>
				</br>
				請確定您使用之瀏覽器為Chrome、FireFox、IE10.0以上版本，以獲得最佳瀏覽體驗。最佳瀏覽解析度為1366*768。
			</p>
		</div>
	</div></div>
</div></div>
