<div class="group base-login" id="base-login" data-index="<%= index %>" data-type="<%= $row %>" data-child="3"><div class="in">
	<div class="ct"><div class="in">


	<!-- base-content 主要內容 -->
		<%= render partial: "/erb/area-form_login", locals: set({ index: 2 }) %>
	<!-- base-content 結束 -->


	</div></div>
</div></div>
