<div class="group base-footer" id="base-footer" data-index="<%= index %>" data-type="<%= $row %>" data-child="3" data-func=""><div class="in">
	<div class="hd"><div class="in">
		
	</div></div>
	<div class="ct"><div class="in">

	<!-- group-info 資訊群組 -->
		<div class="group info" data-index="4" data-type="<%= $row %>" data-child="3"><div class="in">
			<div class="ct"><div class="in">

			<!-- group-msg-tool 資訊與工具群組 -->
				<div class="group msg-tool" data-index="4" data-type="<%= $row %>" data-child="3"><div class="in">
					<div class="hd"><div class="in">
						<h3><span><a href="#"></a></span></h3>
					</div></div>
					<div class="ct"><div class="in">

					</div></div>
				</div></div>
			<!-- group-msg-tool 結束 -->

			</div></div>
		</div></div>
	<!-- group-info 結束 -->

	</div></div>
</div></div>
