<div class="group base-article" id="base-article" data-index="<%= index %>" data-type="<%= $row %>" data-child="4"><div class="in">
	<div class="hd"><div class="in">
	</div></div>
	<div class="ct"><div class="in">
	</div></div>
</div></div>
