<div class="group base-module-area" id="base-module-area" data-index="<%= index %>" data-type="<%= $row %>" data-child="3"><div class="in">
	<div class="ct"><div class="in">

	<!-- 首頁內容 開始 -->
    <%= yield %>
	<!-- 首頁內容 結束 -->
	</div></div>
</div></div>
