<div class="group base-page-area" id="base-wrapper" data-index="<%= index %>" data-type="<%= $row %>" data-child="2"><div class="in">
	<div class="ct"><div class="in">
    <%= render partial: "/erb/simple-text_heading" , locals: set({ index: 1 })%>
				<!-- 內頁內容 開始 -->
							<%= yield %>
				<!-- 內頁內容 結束 -->
	</div></div>
</div></div>
