<!-- _list-text_link.html.erb -->
<div class="list-text link_account" data-index="1" data-type="0" <% if func_set %> data-func="<%= func_set %>" <% end %>>
	<div class="in">
		<div class="hd">
			<div class="in">
				<h4 data-index="0">
					<span>
						<a onkeypress="this.click();" href="#" title="Charlene">
							<span class="img"></span>
							<p>Charlene</p>
						</a>
					</span>
				</h4>
			</div>
		</div>
		<div class="ct">
			<div class="in">
				<ul data-index="1" data-child="4">
					<li class="detaManage" data-index="1">
						<span>
							<a class="active" href="#">
								<span>代理人設定</span>
							</a>
						</span>
					</li>
					<li class="detaPublish" data-index="2">
						<span>
							<a href="#">
								<span>修改密碼</span>
							</a>
						</span>
					</li>
					<li class="interaction" data-index="3">
						<span>
							<a href="#">
								<span>更換頭像</span>
							</a>
						</span>
					</li>
					<li class="webManage" data-index="4">
						<span>
							<a href="#">
								<span>登出</span>
							</a>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
