<div class="list-text platfrom_content" data-index="1" data-type="0">
	<div class="in">
		<div class="ct">
			<div class="in">
        <table>
          <tr>
            <th class="td_func td-L">功能</th>
            <th class="td_type">類型</th>
            <th class="td_title td-L">名稱</th>
            <th class="td_rank">排序</th>
            <th class="td_click">點擊數</th>
            <th class="td_status">狀態</th>
            <th class="td_fixMan">修改人</th>
            <th class="td_date">修改時間</th>
          </tr>
          <% (1..8).each do |n| %>
          <tr>
          　<td class="td-L">
						<a href="#" class="funcBtn edit" title="編輯"><span>編輯</span></a>
						<a href="#" class="funcBtn delete" title="刪除"><span>刪除</span></a>
						<a href="#" class="funcBtn other" title="其他"><span>其他</span></a>
            </td>
          　<td>
              <span><img class="img_system"></span>
            </td>
            <td class="td-L">
              <span><a href="#" title="名稱"><%= zh_lorem_words rand(10)%></a></span>
            </td>
            <td>
              <select>
                <% (1..10).each do |n| %>
                  <option value="1"><%= n %></option>
                  <% n %>
                <% end %>
              </select>

            </td>
            <td><span class="onclick_cost"><%= rand(300) %></span></td>
            <td>
              <%if (rand(2) == 1)%>
              <span class="page_mode is_on">啟用</span>
              <%else%>
              <span class="page_mode is_off">停用</span>
              <% end %>
            </td>
            <td><span class="user_name"><%= zh_lorem_name %></span></td>
            <td><span class="edit_date">2017-06-23</span></td>
            <% n %>
          </tr>
          <% end %>
        </table>
			</div>
		</div>
	</div>
</div>
