<div class="list-text link " data-index="1" data-type="0">
	<div class="in">
		<div class="ct">
			<div class="in">
				<ul data-index="1" data-child="4">
					<li class="detaManage" data-index="1">
						<span>
							<a class="active" href="#" title="資料管理"><span>資料管理</span></a>
						</span>
					</li>
					<li class="detaPublish" data-index="2">
						<span>
							<a href="#" title="資訊發布"><span>資訊發布</span></a>
						</span>
					</li>
					<li class="interaction" data-index="3">
						<span>
							<a href="#" title="互動交流"><span>互動交流</span></a>
						</span>
					</li>
					<li class="webManage" data-index="4">
						<span>
							<a href="#" title="網站管理"><span>網站管理</span></a>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
